*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Poppins";
}

a{
text-decoration: none;

}

ul{
    list-style: none;
}

:root{

    --main-color: #78cc6d;
    --secondary-color: #5f85DB;
    --text-color: #f6f4f0;
    --bg-color: #222222;
    --body-bg-color: #2d2d33;
    --border-color: #303030;
    --gradient-start: rgb(26, 26, 26);
    --gradient-end: #0c0c0c;
     --bg-gradient-start: #2d2f31;
    --bg-gradient-end: #272a2e;
}


body{

    color: var(--text-color);
    background-image: linear-gradient(120deg, var(--bg-gradient-start), var(--bg-gradient-end));
    background-attachment: fixed;
}

.bg-gradient{

    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
}



.main-container{

    max-width: 1320px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 425px 1fr;
    grid-gap: 10px;
    align-items: flex-start;
}

.menu-profile{

    display: grid;
    grid-template-columns: 65px 1fr;
    grid-gap: 10px;
}

header{
position: relative;
z-index: 2;
}

header, header ul{

    width: 100%;
    display: flex;
    flex-direction: column;

}

header ul{

    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;

    padding: 10px 5px;
    border-radius: 30px;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}


header ul li a{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    position: relative;
    transition: all ease 0.3s;

}

header ul li a::after{
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


header ul li a::before{

    content: "";
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 5px 0px;
    border-color: transparent var(--main-color) transparent transparent;
      opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

header nav ul li a:hover::before,
header nav ul li a:hover::after{

    opacity: 1;
    visibility: visible;
}

.dark-light-btn{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;


}

.dark-light-btn:hover,
header ul li a:hover{

    color: var(--main-color);
}

.profile-container{

    height: 100%;
    position: relative;
}

.user-profile{

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 0px 30px 30px;

}

.user-profile-container{

    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}

.user-profile-img{

    width: 100%;
    height: 280px;
    display: flex;
    border-radius: 30px 0px 30px 30px;
    background-color: var(--text-color);
    overflow: hidden;
}

.user-profile-img img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-profile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.user-profile-text span{

    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .9rem;
}

.user-profile-text h1{

    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0px;
}

.profile-social-container{

    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    
}

.user-profile-container a{

    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: var(--text-color);
    transition: all ease 0.3s;
}

.profile-social-container a:hover,
.user-profile-btns a:hover{

    color: var(--main-color);
}

.user-profile-btns{

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    border-top: 1px solid var(--border-color);
    width: 100%;

}

.user-profile-btns a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: all ease 0.3s;
}

.user-profile-btns a:first-child{

    border-right: 1px solid var(--border-color) ;
}

.section-container{

    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 45px 45px;
    display: flex;
    flex-direction: column;
}

.all-content{

    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 100%;
    overflow: hidden;
}

#about-us{

    border-radius: 0px 30px 0px 0px;
    padding: 85px 50px;
    
}

#about-us h3{

    color: var(--text-color);
    font-weight: 500;
    font-size: 1.4rem;
    
}

#about-us h3 span{
color: var(--main-color);

}

#about-us #role{
    opacity: 1;
    white-space: nowrap;
    transition: opacity 0.3s ease-out;
    border-right: 2px solid var(--main-color);
    display: inline-block;
    padding-right: 5px;

}

#about-us h1{

    color: var(--text-color);
    font-size: 2.7rem;
    margin: 10px 0px;
    font-weight: 500;
    max-width: 700px;
}

#about-us h1 span{
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 0px 20px;
    border-radius: 30px;
    font-size: 2.8rem;
}

#about-us p{

    color: var(--text-color);
    font-size: .9rem;
    max-width: 750px;
    margin-top: 10px;
}

.project-container-about{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 30px;
}
.project-container-box{
    display: flex;
    align-items: center;
    grid-gap: 20px ;
}
.project-container-box span{
    color: var(--text-color);
    font-size: 3.4rem;
    font-weight: 400;
}

.project-container-box strong{
    color: var(--text-color);
    font-size: .9rem;
    font-weight: 400;
    max-width: 100px;
}

.section-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-heading span{
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: .9rem;
    border: 1px solid var(--border-color);
    padding: 5px 20px;
    border-radius: 30px;
    text-transform: uppercase;
}
.section-heading h3{
    color: var(--text-color);
    font-size: 2rem;
    margin-top: 6px;
    font-weight: 500;
}

.skill-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
    width: 100%;
}
.skill-box{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    
}
.skill-box-content{
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-gap: 10px;
    align-items: center;
}
.skill-box-content i{
    color: var(--main-color);
    font-size: 2rem;
}
.skill-box-content span{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.skill-box-percentage{
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--text-color);
    font-size: .8rem;
    border-radius: 10px;
    padding: 3px 10px;
    border: 1px solid var(--border-color);
    font-weight: 500;

}

.skill-box-bar{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: var(--border-color);
    margin-top: 15px;
    border-radius: 10px;
    overflow: hidden;

}
.skill-box-bar span{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 30px;
}

.service-message{
    color: var(--text-color);
    text-align: center;
    margin: 35px 0px 20px 0px;

}
.service-message a{
    color: var(--main-color);
    font-weight: 500;
    text-decoration: underline;
    transition: all ease 0.3s;
}
.service-message a:hover{
    color: var(--gradient-end);
    background-color: var(--main-color);
    padding: 5px 15px;
    border-radius: 30px;
}

.service-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
    margin-top: 40px;
}
.service-box{
    padding: 35px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.service-box-heading{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 20px;
}
.service-box-icon{
   width: 100%;
   display: flex;
}
.service-box-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.service-box-heading-text{
    display: flex;
    flex-direction: column;
}
.service-box-heading-text span{
    color: var(--text-color);
    opacity: 0.6;
    font-size: .8rem;
}
.service-box-heading-text strong{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.service-box-details{
    color: var(--text-color);
    font-size: .9rem;
    margin-top: 20px 0px;
}
.service-box a{
    color: var(--main-color);
    font-weight: 500;
    text-decoration: underline;
    transition: all 0.3s;
    width: fit-content;
    height: auto;
    margin-top: 20px;
}
.service-box a:hover{
    color: var(--gradient-end);
    background-color: var(--main-color);
    padding: 5px 15px;
    border-radius: 30px;
}

.plan-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
}
.plan-box{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
}

.plan-name{
position: absolute;
top: 20px;
left: 20px;
color: var(--bg-color);
background-color: var(--main-color);
padding: 5px 20px;
border-radius: 20px;
text-transform: uppercase;
font-size: .8rem;
font-weight: 500;
letter-spacing: 1px;

}

.plan-box .price{
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 20px;
}

.plan-box a{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    margin: 10px 0px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all ease 0.3s;
}
.plan-box a:hover{
    color: var(--gradient-end);
    background-color: var(--main-color);
    padding: 15px 20px;
}

.pricing-box-feature{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    margin: 30px 0px 20px 0px;
}
.pricing-box-feature li{
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: flex-start;
    grid-gap: 10px;
}
.pricing-box-feature li i{
    color: var(--main-color);
    font-size: 1.2rem;
}
.pricing-box-feature li span{
    color: var(--text-color);
    font-size: .9rem;
    margin: -5px;
    display: flex;
}

.project-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 20px;
    flex-wrap: wrap;
    margin: 50px 0px 0px 0px;
   }

.project-list li{
    color: var(--text-color);
    font-size: .9rem;
    border: 1px solid var(--border-color);
    padding: 5px 15px;
    border-radius: 30px;
    transition: all ease 0.3s;  
    background-color: var(--bg-color);
    letter-spacing: 1px;
    cursor: pointer;
    user-select: none;
}
.project-list li.active{
    color: var(--main-color);
    border: none;
    background-color: var(--bg-color);
}
.project-list li:hover{
    color: var(--main-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
}

.project-container{

    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 30px;
    margin-top: 30px;

}

.project-box{

    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);

}

.project-box-img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.project-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    transition: all ease 0.3s;
}

.project-box-text-container{

    display: grid;
    grid-template-columns: 1fr 50px;
    grid-gap: 10px ;
    align-items: center;
}

.project-box-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-box-text strong{

    color: var(--text-color);
    font-size: 1.1rem;
    margin: 5px 0px;
    font-weight: 500;
}

.project-box-text span{

    color: var(--text-color);
    font-size: .7rem;
    background-color: var(--bg-color);
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 5px 15px;

}
.project-box-btn{

    color: var(--text-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 50%;
}

.project-box:hover .project-box-text span{

    color: var(--bg-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.project-box:hover .project-box-img img{

    transform: scale(1.1);
}


.eud-work-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 50px;
}

.eud-work-label{
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px solid var(--border-color);
    margin-left: 20px;
}

.edu-work-box-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 20px;
    margin-top: 10px;
    padding-left: 10px;
    position: relative;

}

.edu-work-box{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    backdrop-filter: blur(15px);
    position: relative;
    border: 1px solid var(--border-color);
}

.edu-work-box-container::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--text-color);
    width: 1px;
    height: calc(100% - 50px);
}
.edu-work-box::after{
    content: '';
    position: absolute;
    left: -16px;
    top: 25px;
    background-color: var(--text-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.6 ;
}

.edu-work-box .edu-work-year{
    color: var(--main-color);
    font-size: 0.9rem;
}

.edu-work-box strong{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.edu-work-location{
    font-size: 0.8rem;
    color: var(--text-color);
    opacity: 0.6;
}

.edu-work-box p{
    color: var(--text-color);
    font-size: 0.8rem;
    margin-top: 10px;
}

.testimonials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
}

.testimonials-box{

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.testimonials-reviews{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 4px;
}

.testimonials-reviews i{
    color: var(--main-color);
    font-size: 0.8rem;
}

.testimonials-box p{
    color: var(--text-color);
    font-size: .9rem;
    margin: 15px 0px;
}

.client-profile{
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    
}
.client-profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.client-profile-img img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.client-profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.client-profile-text strong{
    color: var(--main-color);
    font-weight: 500;
}
.client-profile-text span{
    color: var(--text-color);
    opacity: 0.6;
    font-size: 0.8rem;
}

.swiper-pagination{
    position: static !important;
    margin-top: 15px;
}

.swiper-pagination-bullet{
    background-color: var(--text-color
     ) !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--main-color) !important;

}

.swiper-slide{
    opacity: 0.6;
}
.swiper-slide-active{
    opacity: 1;
}
.testimonials-message{

    padding: 5px 20px;
    border-radius: 30px;
    background-color: var(--border-color);
    margin: 60px auto 30px auto;
    text-align: center;
    color: var(--text-color);
    font-size: 0.9rem;

}
.testimonials-message span{
    color:var(--main-color);
}
.client-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    margin: 15px 0px;
    width: 100%;
    flex-wrap: wrap;
}

.client-logos img{
    height: 55px;
    object-fit: contain;
    object-position: center ;
}