*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Poppins";
}

a{
text-decoration: none;

}

ul{
    list-style: none;
}

:root{

    --main-color: #78cc6d;
    --secondary-color: #5f85DB;
    --text-color: #f6f4f0;
    --bg-color: #222222;
    --body-bg-color: #2d2d33;
    --border-color: #303030;
    --gradient-start: rgb(26, 26, 26);
    --gradient-end: #0c0c0c;
     --bg-gradient-start: #2d2f31;
    --bg-gradient-end: #272a2e;
}


